body{
    background-color: #19284f;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h1{
    background-color: #df8f83;
    padding: 15px;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.bio{
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    color: aliceblue;
}

img{
    max-width: 150px;
    float: left;
    margin-right: 10px;
}

.lists{
    background-color: #df8f83;
}

.lists dl{
    padding: 15px;
}

.lists dl dt {
    font-weight: bold;
    font-size: 1.15rem;
}

.lists dl dd{
    margin-left: 0;
}